snippet trc
	export interface Props {

	}

	export const ${1}: React.FC<Props> = () => {
		
		return (
			<div>
				${2}
			</div>
		)
	}
snippet cn
	className={classes.${1}}
snippet cnt
	className="${1}"
snippet ust
  const classes = useStyles();
snippet &map
	{ ${1} && 
		${0:$1}.map((item) => {
			return (
				<div>

				</div>
			)
	})}
